.node {
    cursor: pointer;
}

.overlay {
    background-color: rgb(255, 255, 255);
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size: 10px;
    font-family: sans-serif;
    color: white;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}

.ghostCircle.show {
    display: block;
}

.ghostCircle,
.activeDrag .ghostCircle {
    display: none;
}

.wrapper {
    align-content: center;
    border-style: solid;
    border-width: 2px;
    /* background-color: #c8dbe1; */

}

/* For display of images*/
.gallery {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: flex-start;
    /* Changed from center to flex-start */
    justify-content: center;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
    /* Added to include padding within the total height */
}

.image-container {
    display: grid;
    grid-template-columns: repeat(2, 0.4fr);
    grid-template-rows: repeat(1, 0.4fr);
    gap: 10px;
}

.image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 50px;
    cursor: pointer;
}

